.headerLayout {
	height: 4.3rem;

	.headerContent {
		height: 100%;
		width: 100%;
		padding: 0.6rem 0 0.3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid var(--color-stroke-tertiary);

		.headerLogo {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			& svg {
				height: 80%;
			}
		}
	}
}
